@font-face {
    font-family: "RobotoRegular";
    src: url("../assets/FONTS/Roboto-Regular.ttf") format("truetype"),
         url("../assets/FONTS/Roboto-Regular.woff") format("woff"),
         url("../assets/FONTS/Roboto-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #257180; 
    --secondary-color: #F2E5BF; 
    --accent-color: #FD8B51; 
    --highlight-color: #CB6040; 
    --font-base: "RobotoRegular";
}

.container-fluid img {
    max-width: 320px;
    height: 100px;
    padding-left: 20px;
}



